<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796839138110-q0qh6b7jt5bgc7pupsoe9e7npqcur5ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796839138110-q0qh6b7jt5bgc7pupsoe9e7npqcur5ql</string>
	<key>API_KEY</key>
	<string>AIzaSyDbmAhuvYUS0BzHdoWwGO4xcD3GYDwKQW4</string>
	<key>GCM_SENDER_ID</key>
	<string>796839138110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fuel</string>
	<key>PROJECT_ID</key>
	<string>fuel-2e885</string>
	<key>STORAGE_BUCKET</key>
	<string>fuel-2e885.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796839138110:ios:82f452e77d3c235ab1926f</string>
</dict>
</plist>